* {
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  margin: 0;
  max-width: 100%;
}

body {
  height: 400vh;
  background-color: black;
}

.page {
  height: 100vh;
  background-size: 100% 100vh;
  position: relative;
}

.page:nth-child(2n + 1) {
  background-image: linear-gradient(
    to top right,
    #ffca58 0%,
    #ffca58 50%,
    transparent 50%,
    transparent 100%
  );
}

.page:nth-child(2n) {
  background-image: linear-gradient(
    to bottom left,
    #ffca58 0%,
    #ffca58 50%,
    transparent 50%,
    transparent 100%
  );
}
